html{
    background-image:url(/PLines.gif) ;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
    padding-left: 20px;
    height: 60px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-color: rgba(132, 16, 143, 0.616);
}
.navlink{
    color: black;
    text-decoration: none;
    font-size: x-large;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    padding: 3px;
    background-color: gray;
}
.navlink:hover{
    color: blueviolet;
    margin-top: 25px;
}

h1{
    text-align: center;
    justify-self: center;
    font-size: 250px;
    text-shadow: 5px 5px 10px blueviolet;
}

h2{
    font-family: "Imperial Script", cursive;
    font-weight: 900;
    font-size: 30px;
    font-style: normal;
    text-shadow: 3px 3px 6px rgb(158, 92, 219);
}
